* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #eeec81;
    padding: 20px;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav-bar h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    opacity: 0.4;
}

.nav-bar a {
    position: relative;
    left: 7%;
    transform: translateX(-50%);
    margin: 0;
    padding: 10px;
}
.nav-bar button {
    padding: 10px 25px;
    background: #240400;
    background: linear-gradient(90deg, rgba(36, 4, 0, 1) 0%, rgba(121, 9, 9, 1) 47%, rgba(255, 140, 0, 1) 100%);
    color: aliceblue;
    transition: all ease 0.3s;
    transition-delay: 0.5s; 
}
.nav-bar button:hover {
    transition: all ease 0s;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: #240400;
    transition-delay: 0s; 
}

table {
    width: 100%;
    background-color: white;
    margin-top: 20px;
}

td:last-child {
    text-align: center;
}


.action-btn {
    padding: 6px 16px;
    margin: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

.editBtn {
    background: #ffd966;
    color: #333;
}

.editBtn:hover {
    background: #ffe599;
    color: #000;
}

.deleteBtn {
    background: #ff6666;
    color: #fff;
}

.deleteBtn:hover {
    background: #d70000;
    color: #fff;
}
